@import "~bootstrap/scss/bootstrap";
@import "./_dashboard";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans');

html {
  height: 100%;
}

body {
    box-sizing: border-box;
    font-family: "Noto Sans TC", "Open Sans";
    font-size: 1rem;
    background-color: #dee2e6;
    min-height: 100%;

    .mainContent {
      min-height: calc(100vh - 214px - 96px);
    }
}

.table {
    thead th,
    td {
    border: 1px solid #333333;
    background-color: #ffffff;
    }
    thead th {
      text-align: center;
      background-color: #eee;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style:none;
      color: blue
    }
  }

